POSTGRES_PASSWORD_FILE=/etc/atlas/secrets/postgres_password
REDIS_PASSWORD_FILE=/etc/atlas/secrets/redis_password
MINIO_ROOT_PASSWORD_FILE=/etc/atlas/secrets/minio_root_password
MINIO_ROOT_USER=atlas
